## for_format_list

In [6]:
s = '{} {} {}'
pr= s.format('진상','승훈','형주')
print(pr)

진상 승훈 형주

In [7]:
s = '{}이는 {}를 {}좋아해'
pr= s.format('진상','승훈','형주')
print(pr)

진상이는 승훈를 형주좋아해

In [12]:
s = '{}이는 {}번이고 {}대학에 갔어'
pr= s.format('진상',30201,'인하')
print(pr)

진상이는 30201번이고 인하대학에 갔어

## [문제] 햄버거 1개는 4달라

In [14]:
s = '{} {}개는 {}달라'
pr= s.format('햄버거',1,4)
print(pr)

햄버거 1개는 4달라

In [16]:
food = '햄버거'
num = 2
price = num*4
s = '{} {}개는 {}달라'
pr= s.format(food,num,price)
print(pr)

햄버거 2개는 8달라

In [18]:
food = input('메뉴 입력>> ')
num = int(input('개수 입력>> '))
price = num*4
s = '{} {}개는 {}달라'
pr= s.format(food,num,price)
print(pr)

메뉴 입력>> 햄버거
개수 입력>> 4
햄버거 4개는 16달라

In [33]:
menu = list(map(int,input('햄버거 개수와 가격>> ').split()))

햄버거 개수와 가격>> 10 5

In [34]:
type(menu)

list

In [35]:
menu[0], menu[1]

(10, 5)

In [37]:
price = menu[0] * menu[1]
s = '햄버거는 {}개는 {}달라'
pr= s.format(menu[0],price)
print(pr)

햄버거는 10개는 50달라

In [40]:
stu = '%s %d학년 %s'
pr = stu%('인천여상', 3, '김고은')
print(pr)

인천여상 3학년 김고은

In [45]:
juso = '  인천시 연수구 동춘동  '

In [43]:
type(juso),len(juso)

(str, 13)

In [74]:
add = juso.strip()

In [51]:
juso

'  인천시 연수구 동춘동  '

In [78]:
add.split()

['인천시', '연수구', '동춘동']

In [79]:
add, len(add)

('인천시 연수구 동춘동', 11)

In [76]:
add.startswith('인천')

True

In [80]:
add.endswith('덩충던')

False

In [60]:
num = 10
if num==10 :
    print('숫자는 10')
else :
    print('숫자는 10이 아니다')

숫자는 10

In [62]:
num = 10
if num%2==0 :
    print('짝수')
else :
    print('홀수')

짝수

### [문제]입력을 받아서 짝수(펭수)인지 홀수(워크맨) 인지 알려줌
- 입력을 받는다
- 정수로 바꾼다
- if문으로 확인
- 출력

In [67]:
num = int(input('숫자 입력>> '))
if num%2==0 :
    print('펭수')
else :
    print('워크맨')

숫자 입력>> 10
펭수

In [68]:
for i in range(20,31):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [82]:
sum=0
for i in range(20,31):
    if i%2 != 0:
        sum+=i
        print(i)
print('합계 : ',sum)

21
23
25
27
29
합계 :  125

## [문제 만들기]