## Pandas

## Boolean

In [6]:
True == False

False

In [7]:
True != 0

True

In [9]:
False == 0

True

In [11]:
True or False

True

In [13]:
1 == '1'

False

In [18]:
2>4

False

In [20]:
eng = 'Korea COVID 19'
eng

'Korea COVID 19'

In [25]:
big = eng.upper()
big

'KOREA COVID 19'

In [26]:
small = eng.lower()
small

'korea covid 19'

In [28]:
eng

'Korea COVID 19'

In [32]:
kor = 'korean'
kor.upper()

'KOREAN'

In [54]:
list_data = [1,'두번째',3,4,100,5]
tuple_data = (1,2,3,4,5)
dic_data = {1:100, 2:200, 3:300, 4:400, 5:500}

In [42]:
type(list_data),type(tuple_data),type(dic_data)

(list, tuple, dict)

In [47]:
list_data[0],list_data[1]

(1, '두번째')

In [49]:
list_data[:3]

[1, '두번째', 3]

In [51]:
list_data[3:]

[4, 5]

In [55]:
list_data[-1]='마지막'

In [58]:
list_data

[1, '두번째', 3, 4, 100, '마지막']

In [61]:
tuple_data[2] = '가운데'

TypeError: 'tuple' object does not support item assignment

In [64]:
data = []
data.append('')

In [72]:
data.append('java')

In [75]:
data.append('c')

In [76]:
data.append('python')

In [78]:
data

['추가', '추가', '추가', '추가', 'java', 'c', 'c', 'c', 'python']

In [81]:
data.sort()
data

['c', 'c', 'c', 'java', 'python', '추가', '추가', '추가', '추가']

In [83]:
data.reverse()
data

['c', 'c', 'c', 'java', 'python', '추가', '추가', '추가', '추가']

In [91]:
dic = {100:'태민',200:'태완','이름':'원형',400:'영령',500:'인성'}

In [103]:
dic[100],dic[200],dic['이름']

('태민', '태완', '원형')

In [105]:
dic.get('이름')

'원형'

In [94]:
dic.keys()

dict_keys([100, 200, '이름', 400, 500])

In [106]:
dic.values()

dict_values(['태민', '태완', '원형', '영령', '인성'])

In [116]:
a = [1,2,3]

In [117]:
b = [4,5,6]

In [125]:
import pandas as pd
pd.DataFrame(data=dict(num = a,sum = b), index=['a','b','c'])

   num  sum
a    1    4
b    2    5
c    3    6

In [129]:
man = {
    'num':[1,2,3],
    'sum':[4,5,6]
}

In [131]:
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [136]:
man = [
    {'num':1, 'sum':4},
    {'num':2, 'sum':5},
    {'num':3, 'sum':6}
]

In [144]:
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [140]:
person = {
    'name' : ['a','b','b','d'],
    '국어' : [100,17,50,90],
    '영어' : [80,60,40,80]
    
}

In [146]:
df=pd.DataFrame(person)

In [148]:
df

  name   국어  영어
0    a  100  80
1    b   17  60
2    b   50  40
3    d   90  80

In [150]:
df['국어']

0    100
1     17
2     50
3     90
Name: 국어, dtype: int64

In [152]:
person = {
    'name' : ['a','b','b','d'],
    '국어' : [100,17,50,90],
    '영어' : [80,60,40,80]
    
}

In [153]:
pd.DataFrame(person)

  name   국어  영어
0    a  100  80
1    b   17  60
2    b   50  40
3    d   90  80

In [158]:
abc = {
    '교시' : ['1교시','2교시','3교시','4교시','5교시'],
    'C'    : [10,20,30,40,50],
    'R'    : [10,20,30,40,50],
    'JAVA' : [10,20,30,40,50]
}

In [160]:
pd.DataFrame(abc)

    교시   C   R  JAVA
0  1교시  10  10    10
1  2교시  20  20    20
2  3교시  30  30    30
3  4교시  40  40    40
4  5교시  50  50    50