In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.3)

- https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&tg=0&date=20200725

In [2]:
mov_data = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&tg=0&date=20200725'

In [3]:
import  pandas as pd

In [4]:
data = pd.read_html(mov_data)

In [5]:
data

[    순위              영화명  평점  평점.1  평점.2  변동폭  변동폭.1  Unnamed: 7
 0  NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN
 1  NaN             가버나움 NaN  9.59  평점주기  NaN    0.0         NaN
 2  NaN           위대한 쇼맨 NaN  9.40  평점주기  NaN    0.0         NaN
 3  NaN              알라딘 NaN  9.38  평점주기  NaN    0.0         NaN
 4  NaN           에이리언 2 NaN  9.35  평점주기  NaN    0.0         NaN
 5  NaN           다크 나이트 NaN  9.34  평점주기  NaN    0.0         NaN
 6  NaN          소년시절의 너 NaN  9.32  평점주기  NaN    0.0         NaN
 7  NaN           시네마 천국 NaN  9.31  평점주기  NaN    0.0         NaN
 8  NaN      패왕별희 디 오리지널 NaN  9.31  평점주기  NaN    0.0         NaN
 9  NaN              우리들 NaN  9.26  평점주기  NaN    0.0         NaN
 10 NaN        피아니스트의 전설 NaN  9.25  평점주기  NaN    0.0         NaN
 11 NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN
 12 NaN              톰보이 NaN  9.23  평점주기  NaN    0.0         NaN
 13 NaN          스타 이즈 본 NaN  9.18  평점주기  NaN    0.0         NaN
 14 NaN              싸이코 NaN  9.11  평점주기  NaN    0.0         NaN
 15 NaN      타오르는 여인의 초상 NaN  9.05  평점주기  NaN    0.0         NaN
 16 NaN          미스비헤이비어 NaN  9.04  평점주기  NaN    0.0         NaN
 17 NaN           인생 후르츠 NaN  9.02  평점주기  NaN    0.0         NaN
 18 NaN              미져리 NaN  9.02  평점주기  NaN    0.0         NaN
 19 NaN     안녕, 나의 소울메이트 NaN  8.97  평점주기  NaN    0.0         NaN
 20 NaN    온워드: 단 하루의 기적 NaN  8.96  평점주기  NaN    0.0         NaN
 21 NaN               미션 NaN  8.93  평점주기  NaN    0.0         NaN
 22 NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN
 23 NaN     바르다가 사랑한 얼굴들 NaN  8.89  평점주기  NaN    0.0         NaN
 24 NaN        트롤: 월드 투어 NaN  8.86  평점주기  NaN    0.0         NaN
 25 NaN          시티 오브 갓 NaN  8.84  평점주기  NaN    0.0         NaN
 26 NaN           미녀와 야수 NaN  8.78  평점주기  NaN    2.0         NaN
 27 NaN    부에나 비스타 소셜 클럽 NaN  8.78  평점주기  NaN    2.0         NaN
 28 NaN              소공녀 NaN  8.77  평점주기  NaN    2.0         NaN
 29 NaN               벌새 NaN  8.76  평점주기  NaN    2.0         NaN
 30 NaN              현기증 NaN  8.73  평점주기  NaN    2.0         NaN
 31 NaN        바닷마을 다이어리 NaN  8.73  평점주기  NaN    2.0         NaN
 32 NaN           베스트 오퍼 NaN  8.65  평점주기  NaN    2.0         NaN
 33 NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN
 34 NaN              트로이 NaN  8.62  평점주기  NaN    2.0         NaN
 35 NaN             라라랜드 NaN  8.60  평점주기  NaN    2.0         NaN
 36 NaN       찬실이는 복도 많지 NaN  8.59  평점주기  NaN    3.0         NaN
 37 NaN        내일을 위한 시간 NaN  8.54  평점주기  NaN    3.0         NaN
 38 NaN            헤이트풀8 NaN  8.45  평점주기  NaN    3.0         NaN
 39 NaN             울프 콜 NaN  8.41  평점주기  NaN    5.0         NaN
 40 NaN              스크림 NaN  8.36  평점주기  NaN    6.0         NaN
 41 NaN              소리꾼 NaN  8.34  평점주기  NaN    6.0         NaN
 42 NaN          카페 벨에포크 NaN  8.34  평점주기  NaN    6.0         NaN
 43 NaN          다가오는 것들 NaN  8.33  평점주기  NaN    6.0         NaN
 44 NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN
 45 NaN  밤쉘: 세상을 바꾼 폭탄선언 NaN  8.24  평점주기  NaN    6.0         NaN
 46 NaN             원 데이 NaN  8.22  평점주기  NaN    6.0         NaN
 47 NaN         로마 위드 러브 NaN  8.18  평점주기  NaN    6.0         NaN
 48 NaN             몽상가들 NaN  8.11  평점주기  NaN    6.0         NaN
 49 NaN             야구소녀 NaN  8.08  평점주기  NaN    6.0         NaN
 50 NaN           날씨의 아이 NaN  7.95  평점주기  NaN    NaN         NaN
 51 NaN               결백 NaN  7.60  평점주기  NaN    5.0         NaN
 52 NaN             호우시절 NaN  7.38  평점주기  NaN    5.0         NaN
 53 NaN              조디악 NaN  7.37  평점주기  NaN    5.0         NaN
 54 NaN               삽질 NaN  6.53  평점주기  NaN    6.0         NaN
 55 NaN              NaN NaN   NaN   NaN  NaN    NaN         NaN,
     0   1      2        3        4     5              6
 0  구분   N  Range  Minimum  Maximum  Mean  Std.Deviation
 1  평점  26   4.39     4.75     9.14  7.59           7.59]

In [7]:
type(data)

list

In [9]:
len(data)

2

In [11]:
df = data[0]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
순위            0 non-null float64
영화명           50 non-null object
평점            0 non-null float64
평점.1          50 non-null float64
평점.2          50 non-null object
변동폭           0 non-null float64
변동폭.1         49 non-null float64
Unnamed: 7    0 non-null float64
dtypes: float64(6), object(2)
memory usage: 3.6+ KB

In [16]:
pick = ['순위', '영화명', '평점.1']
df1 = df[pick]

In [18]:
df1.head()

   순위     영화명  평점.1
0 NaN     NaN   NaN
1 NaN    가버나움  9.59
2 NaN  위대한 쇼맨  9.40
3 NaN     알라딘  9.38
4 NaN  에이리언 2  9.35

In [23]:
df1.columns=['랭킹','영화제목','평점']

In [25]:
df1

    랭킹             영화제목    평점
0  NaN              NaN   NaN
1  NaN             가버나움  9.59
2  NaN           위대한 쇼맨  9.40
3  NaN              알라딘  9.38
4  NaN           에이리언 2  9.35
5  NaN           다크 나이트  9.34
6  NaN          소년시절의 너  9.32
7  NaN           시네마 천국  9.31
8  NaN      패왕별희 디 오리지널  9.31
9  NaN              우리들  9.26
10 NaN        피아니스트의 전설  9.25
11 NaN              NaN   NaN
12 NaN              톰보이  9.23
13 NaN          스타 이즈 본  9.18
14 NaN              싸이코  9.11
15 NaN      타오르는 여인의 초상  9.05
16 NaN          미스비헤이비어  9.04
17 NaN           인생 후르츠  9.02
18 NaN              미져리  9.02
19 NaN     안녕, 나의 소울메이트  8.97
20 NaN    온워드: 단 하루의 기적  8.96
21 NaN               미션  8.93
22 NaN              NaN   NaN
23 NaN     바르다가 사랑한 얼굴들  8.89
24 NaN        트롤: 월드 투어  8.86
25 NaN          시티 오브 갓  8.84
26 NaN           미녀와 야수  8.78
27 NaN    부에나 비스타 소셜 클럽  8.78
28 NaN              소공녀  8.77
29 NaN               벌새  8.76
30 NaN              현기증  8.73
31 NaN        바닷마을 다이어리  8.73
32 NaN           베스트 오퍼  8.65
33 NaN              NaN   NaN
34 NaN              트로이  8.62
35 NaN             라라랜드  8.60
36 NaN       찬실이는 복도 많지  8.59
37 NaN        내일을 위한 시간  8.54
38 NaN            헤이트풀8  8.45
39 NaN             울프 콜  8.41
40 NaN              스크림  8.36
41 NaN              소리꾼  8.34
42 NaN          카페 벨에포크  8.34
43 NaN          다가오는 것들  8.33
44 NaN              NaN   NaN
45 NaN  밤쉘: 세상을 바꾼 폭탄선언  8.24
46 NaN             원 데이  8.22
47 NaN         로마 위드 러브  8.18
48 NaN             몽상가들  8.11
49 NaN             야구소녀  8.08
50 NaN           날씨의 아이  7.95
51 NaN               결백  7.60
52 NaN             호우시절  7.38
53 NaN              조디악  7.37
54 NaN               삽질  6.53
55 NaN              NaN   NaN

In [27]:
pick = ['랭킹','영화제목','평점']

In [30]:
df2 = df1.dropna(how = 'all')

In [32]:
df2

    랭킹             영화제목    평점
1  NaN             가버나움  9.59
2  NaN           위대한 쇼맨  9.40
3  NaN              알라딘  9.38
4  NaN           에이리언 2  9.35
5  NaN           다크 나이트  9.34
6  NaN          소년시절의 너  9.32
7  NaN           시네마 천국  9.31
8  NaN      패왕별희 디 오리지널  9.31
9  NaN              우리들  9.26
10 NaN        피아니스트의 전설  9.25
12 NaN              톰보이  9.23
13 NaN          스타 이즈 본  9.18
14 NaN              싸이코  9.11
15 NaN      타오르는 여인의 초상  9.05
16 NaN          미스비헤이비어  9.04
17 NaN           인생 후르츠  9.02
18 NaN              미져리  9.02
19 NaN     안녕, 나의 소울메이트  8.97
20 NaN    온워드: 단 하루의 기적  8.96
21 NaN               미션  8.93
23 NaN     바르다가 사랑한 얼굴들  8.89
24 NaN        트롤: 월드 투어  8.86
25 NaN          시티 오브 갓  8.84
26 NaN           미녀와 야수  8.78
27 NaN    부에나 비스타 소셜 클럽  8.78
28 NaN              소공녀  8.77
29 NaN               벌새  8.76
30 NaN              현기증  8.73
31 NaN        바닷마을 다이어리  8.73
32 NaN           베스트 오퍼  8.65
34 NaN              트로이  8.62
35 NaN             라라랜드  8.60
36 NaN       찬실이는 복도 많지  8.59
37 NaN        내일을 위한 시간  8.54
38 NaN            헤이트풀8  8.45
39 NaN             울프 콜  8.41
40 NaN              스크림  8.36
41 NaN              소리꾼  8.34
42 NaN          카페 벨에포크  8.34
43 NaN          다가오는 것들  8.33
45 NaN  밤쉘: 세상을 바꾼 폭탄선언  8.24
46 NaN             원 데이  8.22
47 NaN         로마 위드 러브  8.18
48 NaN             몽상가들  8.11
49 NaN             야구소녀  8.08
50 NaN           날씨의 아이  7.95
51 NaN               결백  7.60
52 NaN             호우시절  7.38
53 NaN              조디악  7.37
54 NaN               삽질  6.53

In [34]:
df2.shape

(50, 3)

In [36]:
df2['랭킹'] = range(1, len(df2)+1)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
df2

    랭킹             영화제목    평점
1    1             가버나움  9.59
2    2           위대한 쇼맨  9.40
3    3              알라딘  9.38
4    4           에이리언 2  9.35
5    5           다크 나이트  9.34
6    6          소년시절의 너  9.32
7    7           시네마 천국  9.31
8    8      패왕별희 디 오리지널  9.31
9    9              우리들  9.26
10  10        피아니스트의 전설  9.25
12  11              톰보이  9.23
13  12          스타 이즈 본  9.18
14  13              싸이코  9.11
15  14      타오르는 여인의 초상  9.05
16  15          미스비헤이비어  9.04
17  16           인생 후르츠  9.02
18  17              미져리  9.02
19  18     안녕, 나의 소울메이트  8.97
20  19    온워드: 단 하루의 기적  8.96
21  20               미션  8.93
23  21     바르다가 사랑한 얼굴들  8.89
24  22        트롤: 월드 투어  8.86
25  23          시티 오브 갓  8.84
26  24           미녀와 야수  8.78
27  25    부에나 비스타 소셜 클럽  8.78
28  26              소공녀  8.77
29  27               벌새  8.76
30  28              현기증  8.73
31  29        바닷마을 다이어리  8.73
32  30           베스트 오퍼  8.65
34  31              트로이  8.62
35  32             라라랜드  8.60
36  33       찬실이는 복도 많지  8.59
37  34        내일을 위한 시간  8.54
38  35            헤이트풀8  8.45
39  36             울프 콜  8.41
40  37              스크림  8.36
41  38              소리꾼  8.34
42  39          카페 벨에포크  8.34
43  40          다가오는 것들  8.33
45  41  밤쉘: 세상을 바꾼 폭탄선언  8.24
46  42             원 데이  8.22
47  43         로마 위드 러브  8.18
48  44             몽상가들  8.11
49  45             야구소녀  8.08
50  46           날씨의 아이  7.95
51  47               결백  7.60
52  48             호우시절  7.38
53  49              조디악  7.37
54  50               삽질  6.53

In [41]:
df2.reset_index(drop = True, inplace = True)

In [42]:
df2

    랭킹             영화제목    평점
0    1             가버나움  9.59
1    2           위대한 쇼맨  9.40
2    3              알라딘  9.38
3    4           에이리언 2  9.35
4    5           다크 나이트  9.34
5    6          소년시절의 너  9.32
6    7           시네마 천국  9.31
7    8      패왕별희 디 오리지널  9.31
8    9              우리들  9.26
9   10        피아니스트의 전설  9.25
10  11              톰보이  9.23
11  12          스타 이즈 본  9.18
12  13              싸이코  9.11
13  14      타오르는 여인의 초상  9.05
14  15          미스비헤이비어  9.04
15  16           인생 후르츠  9.02
16  17              미져리  9.02
17  18     안녕, 나의 소울메이트  8.97
18  19    온워드: 단 하루의 기적  8.96
19  20               미션  8.93
20  21     바르다가 사랑한 얼굴들  8.89
21  22        트롤: 월드 투어  8.86
22  23          시티 오브 갓  8.84
23  24           미녀와 야수  8.78
24  25    부에나 비스타 소셜 클럽  8.78
25  26              소공녀  8.77
26  27               벌새  8.76
27  28              현기증  8.73
28  29        바닷마을 다이어리  8.73
29  30           베스트 오퍼  8.65
30  31              트로이  8.62
31  32             라라랜드  8.60
32  33       찬실이는 복도 많지  8.59
33  34        내일을 위한 시간  8.54
34  35            헤이트풀8  8.45
35  36             울프 콜  8.41
36  37              스크림  8.36
37  38              소리꾼  8.34
38  39          카페 벨에포크  8.34
39  40          다가오는 것들  8.33
40  41  밤쉘: 세상을 바꾼 폭탄선언  8.24
41  42             원 데이  8.22
42  43         로마 위드 러브  8.18
43  44             몽상가들  8.11
44  45             야구소녀  8.08
45  46           날씨의 아이  7.95
46  47               결백  7.60
47  48             호우시절  7.38
48  49              조디악  7.37
49  50               삽질  6.53